footer{
    background-color: black;
    color: white;
    padding: 120px;
}


.footer-container{
    display: flex;
    gap:180px;
    justify-content: center;
    white-space: wrap;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
   
  }


  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .footer-section a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-section a:hover {
    color: #fff;
  }

  .social-links i{
    font-size: 1.5em;
    color: #aaa;
    margin-right: 10px;
  }


  .social-links i:hover {
    color: #fff;
    cursor: pointer;
  }


  .footer-section p{
    font-size: 1em;
    margin-top: 15px;
     width: 450px;
  }

  .copyright{
    margin-top: "80px";
    font-weight: 200;
  }



  @media (max-width:500px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-section p{
        font-size: 1em;
        margin-top: 15px;
         width: 200px;
      }

      .copyright{
        margin-bottom: 0px;
      }

      .social-links i{
        width: 20px;
        margin-right: 10px;
      }
  }