.AdminDashboard{
    background-color: #0C0C29;
    color: white;
    display: flex;
    margin-left: 80px;
    width: 100%;
    padding: 25px;
    padding-left: 30px;
    border-radius: 5px;
    flex-direction: column;
}

.cardStats{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:250px;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    
}
.stats h5{
    font-weight: 100;
    font-size: 10px;
}
.stats h3{
    font-weight: 100;
    font-size: 30px;
}

.stat1{
    background-color: #F75F2B;
}

.stat2{
    background-color: #0FB78B;
}

.stat3{
    background-color: #7366FF;
}
.stat4{
    background-color: #1D80FF;
}

.statics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0rem;
    margin-top: 3rem;
    background-color: #151938;
    border-radius: 10px;
  }
  
  .statss {
    background: var(--primary-color);
    padding: 30px;
    border-radius: 5px;
    height: 320px;
    padding-bottom: 40px;
  }


  .tooltip_style {
    background: var(--body-bg) !important;
    color: #fff;
  }
  

/* cars */
.cars{
    padding: 50px;
}
.car1{
    background-color: #DCD49B;
    color: black;
}
.car2{
    background-color: #B4BBC3;
    color: black;
}
.car3{
    background-color: #C0B3B2;
    color: black;
}
.card i{
    color: black;
    font-size: 20px;
}
.a1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:170px;
    align-items: center;
}


