
body{
    background-color: #141A38;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.nav a{
    color:yellow;
    font-size: 25px;
    font-weight: bold;
}

.nav span{
    color:white;
}

.fnav{
    display: flex;
    align-items: center;
    gap: 100px;
    
}

.fnav input{
    outline: none;
    background: none;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    height: 20px;
    color: white;
}

.search{
    background-color: #0C0C29;
    border-radius: 5px;
    align-items: center;
    padding: 5px;   
    padding-right: 15px; 
    display: flex;
    justify-content: space-around;
}

.snav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    color: white;
}

.second{
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.sidebar li{
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
.sidebar li:hover{
    background-color: #232947;
    border-radius: 5px;
    height: 40px;
}

.booking{
    background-color: #0C0C29;
    color: white;
    display: flex;
    margin-left: 80px;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 5px;
    flex-direction: column;
}

.cars{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #141A38;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.card a{
    color: gray;
    font-size: 10px;
}

