*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(40,40,40);
}
span{
    color:#F6C028;
}
.lo{
    position: relative;
    color:white;
    font-size:20px;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 120px;

    

}
.nav ul{
    display: flex;
    list-style: none;
}
.nav li{
    margin-left: 50px;
    color: white;
}
.nav button{
    background-color: #F6C028;
    color: white;
    width: 80px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.login{
    color: white;
    text-decoration: none;
    background-color: #F6C028;
}



.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    color: white;
    padding-top: 40px;
}
.body .first{
    font-size:60px;
}
.body .second{
    font-size:50px;
}
.body .btn1{
    background-color: #F6C028;
    height: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top:20px;
    font-weight: 800;
    font-size:20px;
}

.icons-container{
    margin-top: 120px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,20rem));
    background: #100f0f;
    justify-content: space-evenly;
}
.icons-container .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    color: white;
    border-radius   :.5rem;
}
.icons-container .icons i{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background: #eee;
    text-align: center;
    color: black;
}
.icons-container .icons .content h3{
    color: #F6C028;
    font-size: 25px;
}
.icons-container .icons .content p{
    color: #eee;
    font-size: 15px;
}

.icons-container .icons:hover i{
    background: #F6C028;
}
.icons-container .icons:hover{
    background-color: #bab8b8;
}
.icons-container .icons:hover .content{
    background-color: #bab8b8;
}
.icons-container .icons:hover .content p{
    background-color: #bab8b8;
    color: black;
}
.icons-container .icons:hover .content h3{
    background-color: #bab8b8;
    color:black;
} 