
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

    font-family: "Inter", serif;


    margin: 0;
    padding: 0;
}

body{
    background-color: #212121;
}
span{
    color:#F6C028;
}
.lo{
    position: relative;
    color:white;
    font-size:20px;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 120px;

    

}

.nav ul{
    display: flex;
    list-style: none;
}
.nav li{
    margin-left: 50px;
    color: white;
}
.nav button{
    background-color: #F6C028;
    color: white;
    width: 80px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.login{
    color: white;
    text-decoration: none;
    background-color: #F6C028;
}



.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    color: white;
    padding-top: 40px;
}
.body .first{
    font-size:60px;
    font-weight: bold;
}
.body .second{
    font-size:50px;
    font-weight: bold;
}
.body .btn1{
    background-color: #F6C028;
    height: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top:20px;
    font-weight: 600;
    font-size:20px;
    border: none;
    cursor: pointer;
}

.icons-container{
    margin-top: 120px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* display: grid; */
    gap: 20px;
    /* grid-template-columns: repeat(auto-fit,minmax(10rem,20rem)); */
    justify-content: center;
    
    display: flex;
    padding: 40px;



}
.icons-container .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    color: white;
    border-radius   :.5rem;
    height: 100px;

    font-family: "Poppins", serif;
    font-weight: 400;
    width: 300px;
    
    

}
.icons-container .icons i{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background: #eee;
    text-align: center;
    color: black;
}
.icons-container .icons .content h3{
    margin-top: 20px;
    color: #F6C028;
    font-size: 25px;
}
.icons-container .icons .content p{
    color: #eee;
    font-size: 15px;
}

.icons-container .icons:hover{
    background-color: #bab8b8;
}
.icons-container .icons:hover .content{
    background-color: #bab8b8;
}

a{
    cursor: pointer;
}
.icon1{
    background-color: #307a99;
}


.icon2{
    background-color: #1b8e49;
}

.icon3{
    background-color: #b38e3f;
}


.icon4{
    background-color: #1d1f76;
}


@media (max-width:400px){
    .icons-container .icons .content h3{
        font-size: 1em;
    }
    .icons-container .icons .content p{
    color: #eee;
    font-size: 0.6em;
}

    .icons-container{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

.icons-container .icons{
    height: 68px;
    width: 120px;

}

.icons-container .icons i{
    background: none;
    width: 20px;

}

}





.about-img{
    height: 356px;
    width: 475px;
    /* border: 2px solid #1b8e49; */
}
.about-img img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    border-radius: 20px;

}

.about1,.about2{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.about2 .about-text{
    order: 1;
}
.about2 .about-img {
    order: 2; 
  }

  .about-section{
    display: flex;
    flex-direction: column;
    gap:60px;
}
.about-section h1{
    font-size: 50px;
    width: 455px;
}

.about-section p{
    font-size: 24px;
    width: 455px;
}

.about1{
    margin-top: 80px;
}

section {
    display: grid;
    place-items: center;
}           

section h1 {
    color: #fff;
    font-family: "Poppins", sans-serif; 
    font-size: 3rem;
    padding: 20px;
    margin-top: 80px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    
}

.slider-items {
    display: inline-block;
    gap: 20px;
    animation: scrolling 35s linear infinite;

}

.slider-items:before,
.slider-items:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .slider:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

@keyframes scrolling {

    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-20%); 
    }
}

.slider-items img {
    width: 12%;
    margin: 20px;

}


@media (max-width:500px) {
    .body .first,.body .second{
        font-size: 1.8em;
    }
    

    .HeroSectionCar{
        width: 350px;
    }

    .about-img,.about-img img{
        width: 150px;
        height: 200px;
    }

    .about-section h1{
        font-size: 1.5em;
        width: 120px;
    }


    
    .about-text p{
        font-size: 1em;
        width: 120px;
    }

    .about1,.about2{
        gap: 30px;
        /* margin-left: 40px; */
    }

    section h1 {
        color: #fff;
        font-family: "Poppins", sans-serif;     
        font-size: 1.5em;
        margin-bottom: 0px;
    }

    .nav li{
        display: none;
    }


}